# {{ ansible_managed }}
# mando-dashboard configuration. The binary reads these as env-var defaults for its flags.
MANDO_DASHBOARD_ADDR={{ dashboard_addr }}
TEMPORAL_ADDRESS={{ dashboard_temporal_address }}
TEMPORAL_NAMESPACE={{ dashboard_temporal_namespace }}
MANDOBOX_CONFIG={{ dashboard_config_path }}
MANDO_TOOLS_ENV={{ dashboard_tools_env }}
MANDO_UPDATE_TOOLS={{ dashboard_update_tools }}
MANDO_TOOL_AUDIT={{ dashboard_tool_audit }}
MANDO_IMAGES_DIR={{ dashboard_images_dir }}
FLEET_URL={{ dashboard_fleet_url }}
FLEET_TLS_CERT={{ dashboard_tls_cert }}
FLEET_TLS_KEY={{ dashboard_tls_key }}
FLEET_SERVER_CA={{ dashboard_tls_ca }}
MANDO_SECRET_AUDIT={{ dashboard_secret_audit }}
MANDO_INSTRUCTIONS={{ dashboard_instructions_path }}
MANDO_PREAMBLE_AUTONOMOUS={{ dashboard_preamble_autonomous }}
MANDO_PREAMBLE_COLLABORATE={{ dashboard_preamble_collaborate }}
FLEET_LOG_DIR={{ dashboard_log_dir }}
MANDO_DISPATCH={{ dashboard_dispatch_bin | default('/usr/local/bin/mando-dispatch') }}
LITELLM_ADDR={{ dashboard_litellm_addr | default('127.0.0.1:4000') }}
NATS_ADDR={{ dashboard_nats_addr | default('172.31.0.1:4222') }}
FLEET_DATA_DIR={{ dashboard_data_dir | default('/var/lib/fleet') }}
