{{ '#' }} {{ ansible_managed }}
TEMPORAL_ADDRESS={{ control_plane_temporal_address }}
TEMPORAL_NAMESPACE={{ control_plane_temporal_namespace }}
FLEET_URL={{ control_plane_fleet_url }}
FLEET_TLS_CERT={{ control_plane_tls_dir }}/reconciler.crt
FLEET_TLS_KEY={{ control_plane_tls_dir }}/reconciler.key
FLEET_SERVER_CA={{ control_plane_tls_dir }}/server-ca.crt
NATS_URL={{ control_plane_nats_url }}
GATEWAY_URL={{ control_plane_gateway_url }}
GITHUB_APP_ID={{ control_plane_github_app_id }}
GITHUB_APP_KEY={{ control_plane_github_app_key }}
GITHUB_ORG={{ control_plane_github_org }}
GITHUB_BOT_USER={{ control_plane_bot_user }}
GITHUB_BOT_EMAIL={{ control_plane_bot_email }}
VSCODE_TUNNEL_TOKEN_FILE={{ control_plane_vscode_tunnel_token }}
MANDO_INSTRUCTIONS={{ control_plane_instructions_path }}
MANDO_PREAMBLE_AUTONOMOUS={{ control_plane_preamble_autonomous }}
MANDO_PREAMBLE_COLLABORATE={{ control_plane_preamble_collaborate }}
