# {{ ansible_managed }}
[Unit]
Description=Run the fleet reaper periodically

[Timer]
OnBootSec={{ reaper_interval }}
OnUnitActiveSec={{ reaper_interval }}
AccuracySec=15s
Persistent=false

[Install]
WantedBy=timers.target
